@font-face {
    font-family: 'square';
    src:
        url("../font/square.ttf")
        format('truetype');
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
}

.content {
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.countdown-container {
    position: fixed;
    text-align: center;
    color: #FFF;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: 'square', sans-serif;
}

#countdown {
    margin: 0;
}
